.carousel-container {
  position: relative;
  padding: 20px;
  background-color: black;
  color: white;
}

.horizontal-scroll {
  display: flex;
  overflow-x: hidden;
  gap: 15px;
  padding: 10px 0;
}

.movie-card-container {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-card {
  border: none;
  background-color: #222;
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.movie-card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.progress-bar {
  width: 90% !important;
  height: 3px !important;
  background-color: #666 !important;
  margin-top: 5px !important;
  border-radius: 2px !important;
  overflow: hidden !important;
}

.progress {
  height: 100% !important;
  background-color: #e50914 !important;
  transition: width 0.3s ease !important;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  background: none;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
  font-size: 40px;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.scroll-button:hover {
  color: #ddd;
}
h2{
  margin-left: 50px;
}
