.carousel-container {
  position: relative;
  padding: 20px;
  background-color:black;
  color: white;
}

.horizontal-scroll {
  display: flex;
  overflow-x: hidden; 
  gap: 15px;
  padding: 10px 0;
}

.movie-card { 
  min-width: 300px;
  max-width: 300px;
  border: none;
  background-color: black;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative; 
  overflow: hidden; 
}

.movie-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 5;
}

.movie-card:hover .movie-overlay {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.movie-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.movie-card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  z-index: 10; 
}
.movie-buttons-container {
  display: flex;
  flex-direction: column; 
  margin-top: 10px; 
  background-color: #222;
  position: relative; 
}

.movie-buttons {
  display: flex;
  justify-content: space-between; 
  gap: 5px; 
  margin-top: 10px;
  margin-left: 5px;
}

.movie-buttons button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.movie-buttons img {
  width: 30px; 
  height: 30px; 
}

.movie-buttons button:last-child {
  margin-left: auto;
  margin-right: 5px; 
}
.scroll-button {
  position: absolute;
  top: 50%; 
  transform: translateY(-25%);
  background: none; 
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
  font-size: 40px;
}
.movie-description {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
  margin-left: 10px;
  margin-bottom: 10px;
  white-space: pre-line;
}
.movie-buttons-container {
  overflow: visible; /* Ensure content is not clipped */
}
.movie-title {
  font-weight: bold;
  color:#ccc;
  margin-bottom: 5px; 
  margin-left: 10px;
}
.scroll-button.left {
  left: 10px; 
}

.scroll-button.right {
  right: 10px; 
}

.scroll-button:hover {
  color: #ddd; 
}