.carousel-container {
  position: relative;
  padding: 20px;
  background-color:black;
  color: white;
}

.horizontal-scroll {
  display: flex;
  overflow-x: hidden; 
  gap: 15px;
  padding: 10px 0;
}

.movie-card {
  min-width: 300px; 
  max-width: 300px;
  border: none;
  background-color: #222;
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card img {
  width: 100%;
  height: 170px; 
  object-fit: cover;
}

.movie-card:hover {
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); 
}

.scroll-button {
  position: absolute;
  top: 50%; 
  transform: translateY(-25%);
  background: none; 
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
  font-size: 40px;
}

.scroll-button.left {
  left: 10px; 
}

.scroll-button.right {
  right: 10px; 
}

.scroll-button:hover {
  color: #ddd; 
}
